.pokemons{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr ;
}

.pokemon{

    margin: .5rem;
    padding: .5rem 1rem;
    background-color: #14A06F;
    color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.pokemon.fire{
    background-color: #d4423d;
}
.pokemon.water{
    background-color: #3db3d4;
}
.pokemon.bug{
    background-color: #c0d43d;
}
.pokemon.normal{
    background-color: #f2f8e9;
    color:#000;
}
.pokemon.normal .tipo{
    background-color: rgba(156, 156, 156, 0.867);
}
.pokemon.poison{
    background-color: #a174c0;
}
.pokemon.electric{
    background-color: #e3d64b;
}
.pokemon.ground{
    background-color: #c0a274;
}
.pokemon.fairy{
    background-color: #bd74c0;
}
.pokemon.fighting{
    background-color: rgb(126, 45, 33);
}
.pokemon.psychic{
    background-color: rgb(65, 42, 65);
}
.pokemon.rock{
    background-color: rgb(105, 105, 105);
}
.pokemon.ghost{
    background-color: rgb(29, 29, 29);
}
.pokemon.ice{
    background-color: #c1e1f7;
}
.pokemon.dragon{
    background-color: #f5a833;
}
.pokemon.steel{
    background-color: #a9a9a9;
}
.pokemon.dark{
    background-color: #594949;
}


.detalhes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.tipos{
    list-style: none;
    padding: 0px;
    margin: .35rem 0rem;
}
.tipo{
    margin: .2rem 0rem;
    padding: .5rem;
    background-color: #fff6;
    border-radius: 1rem;
    font-size: .825rem ;
}
.pokemon .detalhes img{
    max-width: 100%;
    height: 90px;
    width: 90px;
    align-self: flex-end;
}

.pokemon .numero {
    color: #000;
    opacity: .3;
    text-align: right;
}

@media screen and (min-width: 380px) {
    .pokemons{
        grid-template-columns: 1fr 1fr ;
    }
}

@media screen and (min-width: 576px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}